
.div_lista_tarefas{

    width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 40px -30px rgba(0, 0, 0, 0.5);

}



.titulo{
    text-align: center;
    font-size: 30px;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
}


.error_excluir{

width: 30%;
border: #e10000 solid 3px;
border-radius: 4px;
text-align: center;
padding: 4px;
margin: auto;
margin-top: 15px;
-webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}


.div_botao_principal{

    text-align: center;
    margin-top: 20px;

}

.link_adicionar{
    text-decoration: none;
    color: inherit;
}



    
.botao_principal_adicionar {
    width: 30%;
    height: 60px;
    border: 3px solid #6200ea;
    border-radius: 4px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
  }
  
  .botao_principal_adicionar:hover {
    background: #6200ea;
    color: white;
    font-size: 1.5em;
  }
  






.tarefa{
    width: 95%;
    margin: auto;
    margin-top: 20px;
    background-color: #e8eef4;
    border-radius: 10px;
    box-shadow: 0 2px 40px -25px rgba(0, 0, 0, 0.5);
    list-style-type: none;
}

.tarefa_part_titulo{

    display: flex;
    align-items: center;
    padding: 10px;
    
}

.tarefa_titulo{

    width: 80%;
    text-align: left;
    
}



.botao_editar{

    border: none;
    padding: 8px;
    cursor: pointer;
    background-color: #34a9fc;
    margin-right: 10px;
    border-radius: 5px;
    color: white;
    transition: 0.5s;

}

.botao_editar:hover{
    background-color: #3193d8;
}

.botao_excluir{

    border: none;
    padding: 8px;
    cursor: pointer;
    background-color: #e12d00;
    border-radius: 5px;
    color: white;
    transition: 0.5s;
}

.botao_excluir:hover {

    background-color: rgb(198, 21, 1);
}


.div_info{

    display: flex;
    margin-top: 10px;
    padding: 10px;

}


.descricao{
    
    width: 60%;
    text-align: left;

}



@-webkit-keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

