
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to right, #007BFF, #37cf6a);
}

header{
  display: flex;
  justify-content: space-between;
  background-color: #292828;
  height: 50px;
  align-items: center;
}

.logo_marca{

  color: white;
  margin-left: 3%;
  

}

.div_links{
  margin-right: 3%;
 
}

.link{

  text-decoration: none;
  color: inherit;
  color: white;
  padding: 5px;
}