.container {
    display: flex; 
    justify-content: center; 
    align-items: center;     
    height: 100%;
    height: 100%;
    
    
  }

  .error_adicionar{

    width: 100%;
    border: #e10000 solid 3px;
    border-radius: 4px;
    text-align: center;
    padding: 4px;
    margin: auto;
    margin-bottom: 10px;
    -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
    }

    .sucesso_adicionar{

      width: 100%;
      border: #7fe100 solid 3px;
      border-radius: 4px;
      text-align: center;
      padding: 4px;
      margin: auto;
      margin-bottom: 10px;
      -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      

    }
    

  .titulo{

    margin-bottom: 10px;
  }
  
  
  .form {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 50px;
  }
  
  
  .campo {
    margin-bottom: 1rem;
  }
  
  
  .campo label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
  
  
  .campo input,
  .campo textarea {
    width: 95.5%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  
  .botao {
    width: 100%;
    padding: 0.75rem;
    background: #6200ea;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.6s;

  }
  
  
  .botao:hover {
    background: #3700b3;
  }

  .voltar_home{

    width: 100%;
    height: 60px;
    border: 3px solid #6200ea;
    border-radius: 4px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    margin-top: 30px;
    font-size: 1.2em;
    font-weight: 550;

  }
  .voltar_home:hover{ 

    background: #6200ea;
    color: white;
    font-size: 1.5em;

  }

  .links{
    text-decoration: none;
    color: inherit;
    
  }


  @-webkit-keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  } 
  